@model CST350_Milestone.Models.UserModel

<div>
    <h1>Login Failure</h1>
    <p>Invalid usename or password</p>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
