@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using ServiceStack.Text

@{
    // Begin Razor Code Block
    <h1> Start MINESWEEPER GAME</h1>
    <p>Welcome player</p>
    <p>Please Choose Your Game size and Number of bombs</p>

    // Retrieve the "User" string from the session storage
    // Store it in the 'user' variable
    // It could be null if no user is logged in
    string? user = Context.Session.GetString("User");

    // Serialize the 'user' string to JSON format using the ServiceStack.Text.JsonSerializer
    var userString = ServiceStack.Text.JsonSerializer.SerializeToString(user);

    // Check if the 'user' variable is null or an empty string
    if (string.IsNullOrEmpty(user))
    {
        <p>Your are not logged in...</p>
    }
    else
    {
        <p>You are logged in as @userString</p>

        // print Formatted Json
        <pre>@user</pre>
    }
}
