@model CST350_Milestone.Models.UserModel

<div>
    <h1>Register Failure</h1>
    <p>user already exist, please go back and check</p>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>

