@model List<CST350_Milestone.Models.UserModel>
<div>
    <h4>UserModel</h4>
    <hr />
    <h2>User List</h2>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>                
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.UserName</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
