@model CST350_Milestone.Models.LoginViewModel
// create Player controller?
<div>
    <h4>Lose Page</h4>
    <p>You have lost! :(</p>
    
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
