@model CST350_Milestone.Models.LoginViewModel

<div>
    <h4>Win Page</h4>
    <p>You have won! :D</p>

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
