html {
  font-size: 14px;
}

/* Updating font for whole webpage*/
@font-face {
    font-family: 'Trust';
    src: url('/fonts/FZ-SG PAG Trust.ttf');
}


@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

    body::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('/img/bg.svg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        opacity: 0.5; /* Set opacity of the background image */
        z-index: -1; /* Make sure the background is behind the content */
    }


h1 {
    font-family: Trust;
    color: #6B71FF;
    text-align:center;
}

.btn {
    margin-top: 1vw;
}

/*align the register and login form to center*/
div .row {
    justify-content:space-around;
}

