@model CST350_Milestone.Models.BoardModel

@* Surround the entire board with a form that can be submitted *@

<h1>LET'S PLAY</h1>

    <button id="save-game" class="btn btn-primary">Save</button>

<div id="game-zone">
    @Html.Partial("GameBoard", Model)
</div>


@* Display the game's current status (win, loss, etc.) *@
@* Change GameStatus to score? *@
@* <h2>Results: @ViewBag.GameStatus</h2> *@


