@model BoardModel

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@* Surround the entire board with a form that can be submitted *@

<form action="/" method="post" class="game-zone">
    <div class="button-zone" style="--button-count: @Model.Size;">
        @* Iterate over the buttons and display them *@
        @for (int i = 0; i < Model.TheGrid.Length; i++)
        {
            <button class="game-button" type="submit" name="buttonNumber" asp-controller="Button" asp-action="HandleButtonClick">
                <!-- Button Content -->
            </button>
        }
    </div>
</form>
