@model CST350_Milestone.Models.CellModel

@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<button class="game-button"
        type="button"
        value="@Model.Id"
        id="cell-@Model.Id"
         >
    @if (Model.IsVisited && !Model.IsFlag)

    {
        @if (Model.NumNeighbors == 9)

        {
            <img src="~/img/bomb.png" alt="Bomb" />
        }

        else

        {
            @Model.NumNeighbors
        }
    }

    else if (Model.IsFlag)

    {
        <img src="~/img/flag.ico" alt="Flag" />
    }
</button>
